main {

    width: 95%;
    gap: 120px;

}

main .buttons {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

}

main .metrics {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 80px;

}