<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <!-- loader fragment -->
    <div th:fragment="loader">
        <link rel="stylesheet" th:href="@{/css/loader.css}">
        <div class="loader"></div>
    </div>

    <!-- header fragment -->
    <header th:fragment="header">

        <link rel="stylesheet" th:href="@{/css/header.css}">

        <h1>Network Management</h1>

        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/routers}">Routers</a></li>
        </ul>

    </header>

</body>
</html>