<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <!-- loader fragment -->
    <div th:fragment="loader">
        <link rel="stylesheet" th:href="@{/css/loader.css}">
        <div class="loader"></div>
    </div>

    <!-- header fragment -->
    <header th:fragment="header">

        <link rel="stylesheet" th:href="@{/css/header.css}">

        <h1>Network Management</h1>

        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/routers}">Routers</a></li>
            <li><a th:href="@{/plugins}">Plugins</a></li>
        </ul>

    </header>

    <!-- modal fragment -->
    <div th:fragment="modal">
        <link rel="stylesheet" th:href="@{/css/modal.css}">
        <div id="modal" class="modal" style="display:none;">
            <div class="modal-content">
                <span id="close-modal" class="close">&times;</span>
                <h2 id="modal-title"></h2>
                <form id="modal-form"></form>
            </div>
        </div>
    </div>

</body>
</html>